/* Styles defaults */

.bg-default {
    background-color: blueviolet !important;
}

.color-font-default {
    color: white !important;
}

:root {
    --bg-default-menu-hover: rgb(74, 5, 139);
    --color-font-default-menu: #FFF;
}

/* End Styles defaults */

#menu {
    padding: unset;
}

#menu .nav-link {
    padding: 20px !important;
}

#menu .nav-link {
    transition: .5s;
    color: var(--color-font-default-menu);
}

#menu .nav-link:hover {
    background-color: var(--bg-default-menu-hover);
}

#menu .active {
    background-color: var(--bg-default-menu-hover);
}

#menu #logo {
    height: 50px;
}

.search-cars-bar {
    background-color: rgba(36, 41, 49, 1);
    padding: 30px 0px;
}

#footer-end {
    border-top: 1px solid #FFF;
}

.footer-logo {
    height: 60px;
}
